<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>.taskpilot by J. Sabana</title>
  <meta name="description" content="TaskPilot">
  <meta name="keywords" content="TaskPilot, Task Pilot, TaskPilot, Task Pilot, Tool Access Manager, Tool Access Management">
  <meta name="author" content="JosephSabana">
  <meta property="og:image" content="/img/cover.png">
  <meta property="og:title" content="TaskPilot">
  <meta property="og:description" content="TaskPilot - Tool Access Manager">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
	  <link rel="stylesheet" href="../../public/css/styles.css" />
  <link href="/css/views.css" rel="stylesheet">
 
<style>
	
	body {
		background-color: #048E6D!important;
	}
	
	
	</style>

</head>
<body>
    <div class="login">

    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button class="login-button">Log In</button>

    </form>

    </div>
</body>
</html>
