<!DOCTYPE html>
<html lang="en" data-theme="auto">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>YesOnIt!</title>
  <meta name="description" content="YesOnIt - Tool Access Manager">
  <meta name="keywords" content="YesOnIt, YesOnIt, YesOnIt, YesOnIt, Tool Access Manager, Tool Access Management">
  <meta name="author" content="JosephSabana">
  <meta property="og:image" content="img/cover.png">
  <meta property="og:title" content="YesOnIt">
  <meta property="og:description" content="YesOnIt - Tool Access Manager">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">

	  <link href="css/new-styles.css" rel="stylesheet">
	  <link href="css/theme.css" rel="stylesheet">
	<style>
	
		body{
			background-image: url("img/tag.svg");
			background-repeat: no-repeat;
      background-position: center 90px;

			background-size: cover;
			background-color: var(--login-bg);
			
			
		}

input[type="email"], input[type="password"] {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border);
    color: var(--primary-text);

}

nav {
     background: none;
            backdrop-filter: blur(0);
            
}

	</style>

</head>
  <body>
      <nav class="nav">
        <div class="nav-logo">
	
        </div>

		<div class="profile-container">
			
			<div class="darkmode-container">
					<label class="mode-switch">
 <input type="checkbox" id="darkModeToggle" />
 <span class="slider"></span>
</label></div>

</div>
	
		      
		
		
    </nav>
    <div class="yes-login-container">
      <a href="/" class="no-dec">
      <img src="img/logo.svg" width="250px;" alt=""></a>
      <h1>Sign in to y!on8 Platform</h1>
		
    <% if (typeof error !== 'undefined') { %>
        <p style="color:red;"><%= error %></p>
            <div class="spacer-10"></div>
    <% } %> 
			 <div class="spacer-10"></div>
		  <form action="/login" method="POST">
      <div class="yes-form-group">
        <input type="email" id="email" name="email" placeholder=" " required>
        <label for="email">Company E-mail</label>
      
      </div>
      <div class="yes-form-group" id="password-group">
        <input type="password" id="password" name="password" placeholder=" " required>
        <label for="password">Password</label>
      </div>
      <button class="yes-login-button"  type="submit">Sign In</button>
		</form>
		<p class="bottom-note">Contact your IT Administrator to gain access. </p>
		
		    </div>
    
	  

	  	<script src="js/theme.js"></script>
	  
  </body>
	

	
</html>
