     <!-- Footer Section -->
<footer class="footer" >
   <section class="hero-left-noborder container">
        <h1 class="heading">y!on8 <span style="font-weight: 300; color:var(--secondary-text)">(Yes, I'm on it!)</span></h1><Br>
   




        <p class="footer-tagline"><strong>y!on8</strong> (formerly known as TaskPilot, and pronounced “yes, on it”) is a unified, modular, cloud-native platform designed to simplify and automate internal workflows across organizations. It enables teams to manage resource access, content requests, approvals, and operational tasks through scalable, role-based tools—all within a secure and centralized environment.</p>

<p class="footer-tagline">Each application within y!on8 is built and deployed as an independent microservice, allowing for enhanced scalability, maintainability, and flexibility. The platform integrates seamlessly using a shared frontend UI (EJS), connects to cloud-hosted MongoDB databases, and is deployed using Docker and Kubernetes—making it ideal for small to medium enterprises (SMEs) as well as growing teams.</p>

<p class="footer-tagline">Whether it's submitting a content development request, requesting access to enterprise tools, or managing IT asset handovers, y!on8 provides a tailored suite of apps that align with real-world business processes and internal control standards.</p>











    </section>
  <div class="footer-content" >
       <!-- Project Information -->
    <div class="f-col-1">
          <p><img src="/img/logo.svg" alt="logo"></p>
      <ul>
    
        <li class="des">Designed and Developed by: Joseph Sabana</li>
      </ul>
    </div>
  </div>
  <!-- Bottom Legal Line -->
 <!-- Bottom Legal Footer Line -->
<div class="btm-legal" >
  <div class="btm-text" >
    <!-- Left side: Legal Text and Links -->
    <div class="btm-text-left" >
      <span>&copy; 2025 All rights reserved.</span>
    
    </div>
    <!-- Right side: Country -->
    <div class="btm-text-right" >
      <span><img src="/img/au.svg" width="20px" alt=""> Australia</span>
    </div>

  </div>
</div>
</footer>