<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content=".taskpilot">
      <meta name="keywords" content=".taskpilot">
      <meta property="og:image" content="/img/logo.svg">
      <title>Welcome to .taskpilot</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="stylesheet" href="/css/views.css">
   </head>
   <body class="">
      <div class="nav-main">
         <div class="nav-container">
            <nav class="nav" >
               <div class="nav-logo ">
                  <a href="index.html"><img src="../public/img/logo.svg" align="absmiddle" class="hide" alt=""></a>
                  <div class="btn-top-container">
                     <div>
                        <a href="/logout" title="Logout">
                           <div class="btn-btm">
                              <i class="material-icons-outlined">logout</i>  
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </div>
      <div class="home-container">
         <div class="apps-container">
            <div class="apps-container-logo">
               <div class="logo-tp"></div>
            </div>
            <div class="apps-container-title">Select Application:</div>
            <ul class="cards">
               <li class="cards_item">
                  <div class="card bg-offwhite">
                     <div class="card_content">
                        <img src="/img/content.svg" alt="Content Manager" class="card_img">
                        <h5 class="card-title dash">Cloud Content Manager</h5>
                        <div class="card-text">
                           <p class="unit"><strong>SIT737 – Cloud Native Application Development</strong></p>
                           <p>A service request platform designed to streamline content development submissions.</p>
                           <br>
                           <p> This module focuses on cloud-native architecture planning, modular service design, and internal workflow documentation.</p>
                           <br>
                        </div>
                        <ul class="list-group">
                           <a href="/content-manager">
                              <li class="list-group-item"><i class="material-icons">south_east</i>Open App </li>
                           </a>
                        </ul>
                     </div>
                  </div>
               </li>
               <li class="cards_item">
                  <div class="card bg-offwhite">
                     <div class="card_content">
                        <img src="/img/cube.svg" alt="Content Manager" class="card_img">
                        <h5 class="card-title dash">Tools Access Request </h5>
                        <div class="card-text">
                           <p class="unit"><strong>SIT727 – Cloud Automation Technologies</strong></p>
                           <p>A lightweight web service that allows employees to submit and track internal tool access requests. </p>
                           <br>
                           <p>This module is containerized and deployed using Kubernetes, showcasing cloud automation features such as scaling, secrets management, and CI/CD.</p>
                        </div>
                        <ul class="list-group">
                           <a href="/tools/dashboard">
                              <li class="list-group-item"><i class="material-icons">south_east</i> Open App</li>
                           </a>
                        </ul>
                     </div>
                  </div>
               </li>
               <li class="cards_item">
                  <div class=" ">
                     <div class="card_content">
                        <h5 class="card-title dash">+ Add </h5>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </body>
</html>