@media (max-width: 768px) {
	
	.apps-container {
		max-width: 95%;
		
	}
	

.home-container {
	width: 100%;
	min-width: 300px;
}
	


  .cards_item {
width: 100%;
  
}


	
	.card {
		width: 100%;
}
	

}



@media (max-width: 1090px) {
	
	.apps-container {
	max-width: 95%;
	
}


.home-container {
	width: 100%;
	min-width: 300px;
}
	

	
	.apps-container-logo {
	margin-top: 10%;
}
	


  .cards_item {
width: 100%;
  
}
	
	.card {
		width: 100%;
}
	

}



@media (max-width: 1280px) {
	
	.apps-container {
	max-width: 95%;
	min-width: 95%;
	
}


}