<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h2>Home Page</h2>
    <p>Select an application:</p>
    <button onclick="location.href='/content'">Content Development Form</button>
    <button onclick="location.href='/tools'">Tools Access Request Form</button>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>